@model XPressMe.Mvc.ViewModels.HomeViewModel

<div class="container content">
    <div class="twelve columns">        
        @Html.Action("PostViewPartial", Model)
    </div>
    <div class="four columns">

        <p>side panel</p>
		  
        @*<uc2:TagCloudControl ID="TagCloudControl1" runat="server" />*@

    </div>
</div>
