# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

packages/jQuery.2.1.1/*.*
*.dll
*.pdb
*.cache
*.txt
*.suo
*.licenses
*.licx
.nuget/NuGet.exe
packages/jQuery.2.1.1/Content/Scripts/jquery-2.1.1-vsdoc.js
packages/jQuery.2.1.1/Content/Scripts/jquery-2.1.1.js
packages/jQuery.2.1.1/Content/Scripts/jquery-2.1.1.min.js
packages/jQuery.2.1.1/Content/Scripts/jquery-2.1.1.min.map
packages/jQuery.2.1.1/Tools/common.ps1
packages/jQuery.2.1.1/Tools/install.ps1
packages/jQuery.2.1.1/Tools/jquery-2.1.1.intellisense.js
packages/jQuery.2.1.1/Tools/uninstall.ps1
XPressMe.Web/bin/XPressMe.Web.dll.config
