@model XPressMe.Mvc.ViewModels.PostViewModel

<div class="container content">
    <div class="twelve columns">
		  @Html.Action("PostViewPartial", Model)
    </div>
    <div class="four columns">
        No TagCloud
    </div>
</div>
